
.card-cover-i {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.rounded-5-i {
border-radius: 1rem;
}

.rounded-i {
border-radius: 10rem;
}

.bg-dark {
--bs-bg-opacity: 1;
background-color: #212529, var(--bs-bg-opacity)))!important;
}

.text-white {
--bs-text-opacity: 1;
color: #fff, var(--bs-text-opacity)))!important;
}

.h-100-i {
height: 100%!important;
}

.shadow-lg-i {
box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.overflow-hidden-i {
overflow: hidden!important;
}

.card-i {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: relative;
    top: -45px;
    width: 105%;
    font-size: .875rem;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    text-align: top;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.pb-3-i {
padding-bottom: 1rem!important;
}

.p-5-i {
padding: 3rem!important;
}

.flex-column-i {
flex-direction: column!important;
}

.d-flex-i {
display: flex!important;
}

.lh-1-i {
line-height: 1!important;
}

.fw-bold-i {
font-weight: 700!important;
}

.pt-5-i {
padding-top: 3rem!important;
}

.mb-4-i {
margin-bottom: 1.5rem!important;
}

.mt-5-i {
margin-top: 3rem!important;
}

@media (min-width: 1200px)
.display-6 {
font-size: 2.5rem;
}

.display-6-i {
font-size: calc(1.375rem + 1.5vw);
font-weight: 300;
line-height: 1.2;
}

.row {
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
margin-top: calc(-1 * var(--bs-gutter-y)));
margin-right: calc(-.5 * var(--bs-gutter-x)));
margin-left: calc(-.5 * var(--bs-gutter-x)));
}

@media (min-width: 768px)
_utilities.scss:64.align-items-md-stretch {
align-items: stretch!important;
}










