{% extends 'base_sign.html' %} #наследование от шаблона base_sign.html

{% block body %}

<body class="text-center">

<main class="form-signin">
    {% if error %}
    <div id="error" class="alert-prev alert-danger"><strong>Ошибка регистрации:</strong> {{ error }}</div>
    {% endif %}
    <!--<div class="alert alert-danger" style="text-align:center">Login failed, please try again</div> -->
    <!--Метод передачи данных из формы на сервер - post-->
  <form method = "post">
    <img class="mb-4" src="/static/icons/eye.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Создание пароля</h1>

      <div id="PasswordDesc" style="width: 325px; line-height: 1.9;">Введите пароль для своей учетной записи</div>

    <div class="form-floating">
      <input type="password" name="password" class="container form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword" style="color: #6c757d; line-height: 0.9; font-size: 0.8rem;">Создать пароль для {{ email_address }}</label>
    </div>
    <button class="w-30 btn btn-lg btn-primary" style="position: relative; left: 110px; top: 10px; font-weight: 250; line-height: 1.1; padding: .400rem .75rem;" type="submit">Далее</button>
    <p class="mt-5 mb-3 text-muted">© 2020–2021 COVIDMonitoring</p>
  </form>
</main></body>
{% endblock %}